body{
    background: #F3F5FC;
    font-family: 'Inter', sans-serif;
}

.logo{
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 50px;

}

.campo-texto{
    display: inline-block;
    position: relative;
    top: 200px;
    left: 260px;
}

.campo-texto textarea{
    border: none;
    background-color:#F3F5FC;
    font-size: 30px;
    color: rgba(10, 56, 113, 1);
}

::placeholder{
    color: #0A3871;
}

.campo-texto textarea:focus{
    outline: none;
}

.bloque-resultado{
    width: 450px;
    height: 800px;
    position: absolute;
    top: 50px;
    left: 1200px;
    background: #FFFFFF;
    border-radius: 32px;
}

.señor-diamante{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-informativo{
    position: absolute;
    display: inline-block;
    width: 80%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center
}

.texto-informativo h1{
    font-size: 25px;
    font-weight: bold;
}

.texto-informativo p{
    margin: 2em;
}

.botones{
    position: absolute;
    display: inline-block;
    width: 680px;
    height: 67px;
    top: 800px;
    left: 31%;
    transform: translate(-50%, -50%);
}

.botones p {
    position: relative;
    top: 0;
    left: 40px;
    font-size: 15px;
    color: grey;
}

.boton2{
    width: 43%;
    height: 70px;
    margin-top: 10px;
    margin-left: 34px;
    background-color: #F3F5FC;
    border: 1.5px solid #0A3871;
    border-radius: 32px;
    font-size: 18px;
    color: #0A3871;
}

.boton{
    width: 43%;
    height: 70px;
    margin-top: 10px;
    margin-left: 34px;
    background-color: #0A3871;
    border: none;
    border-radius: 32px;
    color: #D8DFE8;
    font-size: 18px;
}

.boton:hover{
    transform: scale(1.1);
}

.boton2:hover{
    transform: scale(1.1);
}


